.githubLogo {
    align-items: center;
    display: flex;
    height: 2rem;
    justify-content: center;
    list-style-type: none;
    margin-right: 1rem;
    padding: 0.5rem;
    width: 2rem;
}

.githubLogo:hover {
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.githubLogo figure {
    display: flex;
    margin: 0;
}
