.githubStars {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.githubStars a {
    height: 20px;
}

.githubStars img {
    height: 100%;
    width: 100%;
}
